$nav-color: #FFFFFF;
$main-color: #F9C86F;
$fry-color: #F0772C;
$snake-color: #E40A4F;
$soup-color: #E89909;

$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h5: 16px;

$font-size-a: 16px;
$font-size-p: 12px;